<div class="container-fluid dashboardbody">   
    <div class="row">     
      <div class="col-md-6">
        <ul>
          <li *ngFor="let movie of Movies">
            <div class="panel panel-default">
              <div class="panel-heading">Name -  <a routerLink="/detail/{{movie.MovieId}}">
               {{movie.MovieName}}
              </a></div>
              <div class="panel-body">
                <div class="col-md-2 pull-left">
                  <!-- <img src="{{movie.imgsrc}}" class="pull-left img-circle" alt="Hungama.jpg" width="80" height="100"> -->
                </div>
                <div class="col-md-10">
                  <div class="row">
                    <div class="col-md-4">
                      <div>
                        <span class="itemlabel">Genre</span>
                        <div [ngSwitch]="movie.Genre">
                          <span *ngSwitchCase="1"> Comedy</span>
                          <span *ngSwitchCase="2"> Romantic</span>
                          <span *ngSwitchCase="3">Thriller</span>
                          <span *ngSwitchCase="4">Mythological</span>
                          <span *ngSwitchCase="5">Horror</span>
                          <span *ngSwitchCase="6">Drama</span>
                          <span *ngSwitchDefault>No Direction</span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div>
                        <span class="itemlabel">Release year</span>
                        <span>-{{movie.ReleaseYear}}</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div>
                        <span class="itemlabel">Verdict</span>
                        <div [ngSwitch]="movie.Verdict">
                          <span *ngSwitchCase="1"> Flop</span>
                          <span *ngSwitchCase="2"> Loosing</span>
                          <span *ngSwitchCase="3">Average</span>
                          <span *ngSwitchCase="4">Hit</span>
                          <span *ngSwitchCase="5">SuperHit</span>
                          <span *ngSwitchCase="6">BlockBuster</span>
                          <span *ngSwitchDefault>No Direction</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row newrow">
                    <div class="col-md-12">
                      <div>
                        <span class="itemlabel">Description</span>
                        <span class="description">- {{movie.Description}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
          <div id="demo" class="carousel slide bg-inverse w-50 ml-auto mr-auto" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="assets/images/JollyLLB.jpg" alt="JollyLLB">
                <div class="carousel-caption">
                  <h3>JollyLLB</h3>
                  <p>We had such a great time in JollyLLB!</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/images/RowdyRathore.jpg" alt="RowdyRathore">
                <div class="carousel-caption">
                  <h3>RowdyRathore</h3>
                  <p>Thank you, RowdyRathore!</p>
                </div>
              </div>
              <div class="item">
                <img src="assets/images/Hungama.jpg" alt="Hungama">
                <div class="carousel-caption">
                  <h3>Hungama</h3>
                  <p>We love Hungama!</p>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
    </div>
  </div>
  