.navbar-nav
{
  width:100%;
  background-color:Green;
}

.navbar-nav > li{ 
border-right: 1px solid white;
width:200px;
text-align:center; 
font-weight:bold;
}
.navbar-nav > li a{color:white}

.navbar-nav > li a:hover{text-decoration:underline}